body {
  background-image: url(burger.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; ;
}

.burgerContent {
  width: 100%;
  max-width: 700px;
  display: table;
  margin: 5% auto 0;
  
}

.burgerIngridients {
  height: 290px;
  width: 100%;
  overflow: auto;
}
.burgerIngridients p {
  text-align: center;
}

.ingridientsBlock {
  background-color: rgb(156, 147, 11);
  margin: 30px auto 0;
  display: table;
  max-width: 200px;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.ingridientsBlock p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.ingrBtns {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.ingrBtn {
  border: 0;
  background-color: white;
  color: black;
  padding: 5px;
  cursor: pointer;
  display: table;
  width: 95px;
}
button {
  background-color: black ;
}

.topside {
  background-image: url(top.jpg);
  background-size: 300px;
  height: 110px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}


.bottomSide {
  background-image: url(bottom.jpg);
  background-size: 300px;
  height: 60px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.lettuceSide {
  background-image: url(lettuce.jpg);
  background-size: 300px;
  height: 27px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.tomatoSide {
  background-image: url(tomato.jpg);
  background-size: 300px;
  height: 20px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.cheeseSide {
  background-image: url(cheese.jpg);
  background-size: 300px;
  height: 15px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.meatSide {
  background-image: url(meat.jpg);
  background-size: 300px;
  height: 49px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

